html,
body,
#root {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    Arial,
    sans-serif;
}

.ag-theme-quartz {
  --ag-font-family:
    Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple SD Gothic Neo", "Noto Sans KR", Arial, sans-serif;

  --ag-font-size: 13px;
  --ag-border-color: transparent;
  --ag-row-border-color: #f1f5f9;
  --ag-header-background-color: #f8fafc;
}
